{% extends 'layout.html' %} {% block body%}

<link rel="stylesheet" href="../static/css/index.css">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="background-color: white; height: 700px; margin: 30px 0 0 0;">
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col mb-4">
                            <div class="card" style="border: none; background-color: #fefefe;">
                                <img src="../static/img/JD_2" class="bd-placeholder-img rounded-circle mx-auto d-block" width="150px" height="auto" alt="..." style="
                                padding: 10px;">
                                <div class="card-body" style="color: black; background-color: #fefefe;">
                                    <h5 class="card-title text-center">Juan David Acosta</h5>
                                    <p class="card-text text-center">Ingeniero Electrónico</p>
                                    <div class="text-center">
                                        <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/juandag21/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        <!-- <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button" href="mailto:juandag@unicauca.edu.co"><i class="bi bi-envelope"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="../static/img/mateo.jpg" class="bd-placeholder-img rounded-circle mx-auto d-block" width="150px" height="auto" alt="..." style="
                                padding: 10px;">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title text-center">Mateo Caicedo</h5>
                                    <p class="card-text text-center">PhD. Economía</p>
                                    <div class="text-center">
                                        <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/mateo-caicedo-b0374ab3/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        <!-- <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button" href="mailto:juandag@unicauca.edu.co"><i class="bi bi-envelope"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="../static/img/jose.jpg" class="bd-placeholder-img rounded-circle mx-auto d-block" width="150px" height="auto" alt="..." style="padding: 10px;">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title text-center">Jose Arturo Garcia</h5>
                                    <p class="card-text text-center">Ingeniero Electrónico</p>
                                    <div class="text-center">
                                        <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/josegarcia93/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        <!-- <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button" href="mailto:juandag@unicauca.edu.co"><i class="bi bi-envelope"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col mb-4">
                            <div class="card">
                                <img src="../static/img/benjamin.co" class="bd-placeholder-img rounded-circle mx-auto d-block" width="150px" height="auto" alt="..." style="padding: 10px;">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title text-center">Benjamin León</h5>
                                    <p class="card-text text-center">Físico</p>
                                    <div class="text-center">
                                        <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/benjamin-leon-datascientist/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="../static/img/dl.com" class="bd-placeholder-img rounded-circle mx-auto d-block" width="150px" height="auto" alt="..." style="padding: 10px;">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title text-center">David Lopez</h5>
                                    <p class="card-text text-center">Economista</p>
                                    <div class="text-center">
                                        <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        <!-- <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button" href="mailto:juandag@unicauca.edu.co"><i class="bi bi-envelope"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="../static/img/daniel.jpg" class="bd-placeholder-img rounded-circle mx-auto d-block" width="150px" height="auto" alt="..." style="padding: 10px;">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title text-center">Daniel Peña</h5>
                                    <p class="card-text text-center">Gobierno y asuntos públicos</p>
                                    <div class="text-center">
                                        <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/daniel-gustavo-pe%C3%B1a-chaves-383593166/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                                        <!-- <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button" href="mailto:juandag@unicauca.edu.co"><i class="bi bi-envelope"></i></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}